<form>
    <!-- Email input -->
    <div class="form-outline mb-4">
        <input type="email" id="userEmailLogin" class="form-control" />
        <label class="form-label" for="userEmailLogin">Email address</label>
    </div>
    <!-- Password input -->
    <div class="form-outline mb-4">
        <input type="password" id="userPasswordLogin" class="form-control" />
        <label class="form-label" for="userPasswordLogin">Password</label>
    </div>
    <p>{{message}}</p>
    <!-- Submit button -->
    <button type="button" class="btn btn-primary btn-block mb-4" id="loginButton">Login</button>
    <button type="button" class="btn btn-primary btn-block mb-4" id="goToRegister">Register</button>

</form>
<script src="/js/login.js"></script>