<form>
    <div class="form-outline mb-4">
        <input type="email" id="userEmailRegister" class="form-control" />
        <label class="form-label" for="userEmailRegister">Email address</label>
    </div>
    <div class="form-outline mb-4">
        <input type="password" id="userPasswordRegister1" class="form-control" />
        <label class="form-label" for="userPasswordRegister1">Password</label>
    </div>
    <div class="form-outline mb-4">
        <input type="password" id="userPasswordRegister2" class="form-control" />
        <label class="form-label" for="userPasswordRegister2">Password</label>
    </div>
    <div class="form-outline mb-4">
        <input type="text" id="userFirstName" class="form-control" />
        <label class="form-label" for="userFirstName">First Name</label>
    </div>
    <div class="form-outline mb-4">
        <input type="text" id="userLastName" class="form-control" />
        <label class="form-label" for="userLastName">Last Name</label>
    </div>
    <div class="form-outline mb-4">
        <input type="number" id="userAge" class="form-control" />
        <label class="form-label" for="userAge">Age</label>
    </div>
    <div>
        <p id="mensajeRegistro"></p>
    </div>
    <p>{{message}}</p>
    <button type="button" class="btn btn-primary btn-block mb-4" id="registerButton">Login</button>

</form>
<script src="/js/register.js"></script>