

footer{
    background-color: red;
    display: flex;
    justify-content: center;
}

nav{
    background-color: red;
    display: flex;
    justify-content: center;
}

body{
    background-color: antiquewhite;
}

.formularioAddProduct{
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 10%;
    text-align: center;
}

.cardProduct{
    margin: 30px;
    border: 1px;
    border-style: solid;
    border-radius: 3px;
    text-align: center;
}

.imagenCardProducts{
    margin-top: 10px;
    width: 100%;
    height: 100%;
}
.formularioMensaje{
    margin-right: 30%;
    margin-left: 30%;
    margin-top: 5%;
}

.botonFormularioMensaje{
    display: flex;
    justify-content: center;
}
.listaMensajesChat{
    margin: 8px;
    margin-bottom: 50px;
    margin-top: 50px;
    border: solid;
    border-color: red;
    border-radius: 3px;
    padding: 5px;
}

.textoUsuarioMensaje{
    width: 100%;
    height: 100px;
}

.centrarBotones{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.contenedorBotonesProductCards{
    display: flex;
    flex-direction: column;
}

.botonesProductCards{
    margin-top: 5px;
}